[Reference](https://towardsdatascience.com/how-to-use-cumsum-to-solve-python-optimization-questions-ab73f617a347)

In [1]:
import pandas as pd

numbers = pd.DataFrame(range(10))
numbers[ 'Cumulative Sum' ] = numbers.cumsum()

In [2]:
numbers

   0  Cumulative Sum
0  0               0
1  1               1
2  2               3
3  3               6
4  4              10
5  5              15
6  6              21
7  7              28
8  8              36
9  9              45

In [3]:
import pandas as pd

numbers = pd.DataFrame(range(10))
numbers['Cumulative Sum'] = numbers.cumsum()
numbers['reversed'] = list(reversed(range(10)))
numbers['Cumulative Sum 2'] = numbers['reversed'].cumsum()
numbers

   0  Cumulative Sum  reversed  Cumulative Sum 2
0  0               0         9                 9
1  1               1         8                17
2  2               3         7                24
3  3               6         6                30
4  4              10         5                35
5  5              15         4                39
6  6              21         3                42
7  7              28         2                44
8  8              36         1                45
9  9              45         0                45

In [4]:
numbers = pd.DataFrame([2,3,-5,3,-8,-2,7])
numbers['Cumulative Sum'] = numbers.cumsum()
numbers

   0  Cumulative Sum
0  2               2
1  3               5
2 -5               0
3  3               3
4 -8              -5
5 -2              -7
6  7               0

In [5]:
# # Mark arrivals with 1s
# train_arrivals['mark'] = 1
# # Mark departures with -1s
# train_departures['mark'] = -1

# # Match column names in both DataFrames
# train_arrivals = train_arrivals.rename(columns={'arrival_time': 'time'})
# train_departures = train_departures.rename(columns={'departure_time': 'time'})

# # Append one table to another
# timetable = train_arrivals.append(train_departures)

# # Sort the events chronologically
# timetable = timetable.sort_values(by='time', ascending=True)

# # Calculate cumulative sum from 1 and -1 values
# timetable['n_trains'] = timetable['mark'].cumsum()

# # Select maximum value from cumulative sum
# result = max(timetable['n_trains'])